.container-landing {
  width: 100%;
  height: 770px;
}

.container-landing {
  background: url("../assets/imgs/microscope.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  color: white;
}

.logoname {
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  transition: 0.6s;
  z-index: 10;
}

.logoname.sticky {
  background: #fff;
  color: black;
}

.logoname.sticky ul li a{
  color: black;

}




.logo {
  width: 70px;
}

.brand-name {
  display: inline-block;
}

.navbar {
  margin-left: 450px;

}



.lista {
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 14px;
  display: inline-block;
  margin: 5px;
  margin-right: 15px;
  padding: 5px;
  transition: 0.6s;

  text-decoration: none;
}

.lista:hover {
  background-color: rgba(128, 128, 128, 0.5);
  color: #fff;
  border-radius: 8px;
}

.lista a{
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 14px;
}


/* REDIRECT*/

.conteiner-subempresa {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 200px;
}

.subempresa {
  font-size: 55px;
}

.conteiner-button {
  display: flex;
  align-items: center;
  justify-content: center;
}


/* BUTTON */

:root {
  --white: white;
}

* {
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
}


.btn-container {
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.btn-item {}


.btn-ghost {
  position: relativate;
  display: inline-block;
  border: 2px solid var(--white);
  padding: 20px 80px;
  color: var(--black);
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  background: var(--white);
  transition: color 0.5s, background 0.5s;
  margin-left: 30px;
  margin-bottom: 15px;
  font-size: 1em;
  min-width: 140px;
  text-align: center;
}

.btn-ghost.round {
  border-radius: 30px;
  color: gray;
}

.btn-ghost.secundary {
  background-color: transparent;
  color: var(--white);
}

.btn-ghost:hover {
  color: var(--white);
  background-color: transparent;
}

.btn-ghost.secundary:hover {
  color: gray;
  background-color: var(--white);
}

.btn-ghost:active {
  box-shadow: inset 0 0 20px var(--white);
}

.btn-ghost.secundary:active {
  box-shadow: inset 0 0 20px var(--black);
}